dangerous
[{"id":"40016cc6.d00b84","type":"inject","z":"36b221dc.c0aa1e","name":"","topic":"","payload":"12","payloadType":"num","repeat":"","crontab":"","once":false,"x":128,"y":162,"wires":[["ecc4833e.24198"]]},{"id":"1aaee15a.dc747f","type":"inject","z":"36b221dc.c0aa1e","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"x":145,"y":263,"wires":[["ecc4833e.24198"]]},{"id":"52b02c06.433434","type":"inject","z":"36b221dc.c0aa1e","name":"","topic":"","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"x":119,"y":371,"wires":[["ecc4833e.24198"]]},{"id":"ecc4833e.24198","type":"function","z":"36b221dc.c0aa1e","name":"","func":"if(msg.payload<50)\n    msg.payload=\"ok\"\nelse if((msg.payload>=50)&&(msg.payload<=50))\n    msg.payload=\"dangerous\"\nelse\n    msg.payload=\"explode\"\n\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":261,"wires":[["ae2a7223.22e8"]]},{"id":"ae2a7223.22e8","type":"debug","z":"36b221dc.c0aa1e","name":"","active":true,"console":"false","complete":"false","x":600,"y":138,"wires":[]}]
